body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.app-pad-50 {
    padding-top: 50px;
}

.drawer-gutter {
    position: 'absolute';
    bottom: 0;
    width: '100%';
    border-top: '1px solid #e8e8e8';
    padding: '10px 16px';
    text-align: 'right';
    left: 0;
    background: '#fff';
    border-radius: '0 0 4px 4px';
}

.login-screen {
    background-image: url("./images/Image.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    z-index: 999;
    height: 50px;
    overflow: hidden;
    background-color: #5e35b1;
    position: fixed;
    top: 0;
    width: 100%;
}

#root {
    background-color: #fff;
    height: 100%;
    /* padding:20px;     */
}

.height-100 {
    height: 100%;
}
.height-50{
    height: 50%;
}

.font-weight-bold {
    font-weight: bold;
}

.logout-link {
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}

.logo {
    float: left;
    margin-left: 30px;
    margin-top: 5px;
    font: 200 25px/1.5 'Pacifico', Helvetica, sans-serif;
    color: #fff;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1), 7px 7px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.login {
    /*padding: 20px;*/
}

.field {
    margin-bottom: 20px;
}

.login-field {
    margin-bottom: 12px;
}

.page-loader {
    padding-top: 25%;
}

.translation-fields {
    padding: 16px;
}

.key-status {
    font-size: 25px;
    margin-top: 3px;
}

.translation-row-icon {
    cursor: pointer;
    vertical-align: middle;
    font-size: 20px;
    padding-top: 6px;
    padding-left: 3px;
}

.login-box {
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 401px;
    height: 300px;
    margin: auto;
    padding: 20px;
}

.long-shadow {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 25px;
    border: none;
    font: normal 60px/1 "Fredoka One", Helvetica, sans-serif;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    text-shadow: 3px 3px 0 #0199d9, 4px 4px 0 #0199d9, 5px 5px 0 #0199d9, 6px 6px 0 #0199d9, 7px 7px 0 #0199d9, 8px 8px 0 #0199d9, 9px 9px 0 #0199d9, 10px 10px 0 #0199d9, 11px 11px 0 #0199d9, 12px 12px 0 #0199d9, 13px 13px 0 #0199d9, 14px 14px 0 #0199d9, 15px 15px 0 #0199d9, 16px 16px 0 #0199d9, 17px 17px 0 #0199d9, 18px 18px 0 #0199d9, 19px 19px 0 #0199d9, 20px 20px 0 #0199d9;
}

.header {
    text-align: center;
    font: 200 70px/1.5 'Pacifico', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1), 7px 7px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 25px;
}

.alert-unauth {
    text-align: center;
}

.buttons-block {
    padding-left: 50px;
}

.first-button {
    margin-top: 25px;
}

.buttons {
    margin-bottom: 50px;
}

.button-togglegroup{
    margin-top: -30px;
}

.links {
    width: 150px;
}

#text-area {
    margin-top: 10px;
}

.ant-input-disabled {
    color: rgba(0, 0, 0, 0.65) !important;
}

.new-translation {
    background-color: #ffcccc !important;
}

.updated-translation {
    background-color: #ffffcb !important;
}

.new-pdf-translation {
    background-color: #ffcccc !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.updated-pdf-translation {
    background-color: #ffffcb !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.published-pdf-translation {
    background-color: #cbf5cb !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.published-translation {
    background-color: #cbf5cb !important;
}

.ignored-pdf-translation {
    background-color: #d7d7d7 !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ignored-translation {
    background-color: #d7d7d7 !important;
}

/* Translation Section */

.translation-header {
    padding-left: 11px;
    background-color: #FAFAFA;
    font-weight: 500;
}

.note-action-item {
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
  }

/* Admin section */

.cell {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.row:hover {
    background-color: #E6F7FF;
}

.right-8 {
    margin-right: 8px;
}

.icons {
    cursor: pointer;
    font-size: 18px;
    margin-left: 5px;
}

.table-header {
    padding-left: 10px;
    background-color: #FAFAFA;
    font-weight: 500;
}

.isvisible-field {
    padding: 5px;
}

.app-section {
    margin-bottom: 5px;
}

.add-section {
    font-size: 25px;
    margin-top: 2px;
}

.admin-links {
    text-align: center;
}

/** lz-language-select */
.lz-language-select .ant-select-selection-selected-value {
    float: none;
    display: flex !important;
    justify-content: space-between;
}
.lz-language-select-dropdown .ant-select-dropdown-menu-item {
    display: flex;
    justify-content: space-between;
}
.lz-language-select-dropdown .ant-select-dropdown-menu-item .lz-select-name,
.lz-language-select .ant-select-selection-selected-value .lz-select-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 3px;
}
.lz-language-select-dropdown .ant-select-dropdown-menu-item .lz-select-badge,
.lz-language-select .ant-select-selection-selected-value .lz-select-badge {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/** /end lz-language-select */


.relative-badge {
    min-width: 20px;
    height: 20px;
    padding: 0 5px;
    background: #f97a81;
    display: inline-block;
    border-radius: 20px;
    line-height: 20px;
    text-align: center;
    color: #FFF;
    font-size: 11px;
    margin-left: 5px;
    font-weight: normal;
}

.ant-badge-count {
    background: #f97a81 !important;
}

.copy-modal {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.copy-modal :hover {
    animation: copy-modal-animate 1s 1;
}

.copy-translation {
    text-align: center;
    margin-left: 4px;
}

.copy-translation :hover {
    animation: copy-translation-animate 1.5s 1;
}

.mask-section {
    border-radius: 5px;
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0%;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 2;
    /* Do not increase more than 999, this will cause issue with .ant-modal-mask and .ant-popover*/
}

.margin-top-5 {
    margin-top: 5px;
}

.ant-upload-list-item:hover .ant-upload-list-item-info {
    background-color: transparent !important
}

.edit-pdf-button {
    top: -25px !important;
    right: -200px !important;
}

.pdf-page-loader {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
}

.pdf-page-loader .ant-spin {
    position: fixed;
    top: 50%;
    left: 50%
}

.switch {
    padding-left: 20px;
}

.uploaded-pdf {
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}

.upload-multiple-pdf {
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}

.new-pdf-translation .upload-list-inline .ant-btn {
    background: none;
    border: none;
    height: 30px;
}

.updated-pdf-translation .upload-list-inline .ant-btn {
    background: none;
    border: none;
    height: 30px;
}

.published-pdf-translation .upload-list-inline .ant-btn {
    background: none;
    border: none;
    height: 30px;
}

.ignored-pdf-translation .upload-list-inline .ant-btn {
    background: none;
    border: none;
    height: 30px;
}

.pdf-section {
    display: flex;
    flex-direction: row;
}

.application-title {
    text-decoration: underline;
    min-width: 60px;
    font-weight: 700;
    margin-top: 10px;
}

.no-result-section {
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
}

.no-search-option-error {
    border: red 1px;
}

.no-search-option-error .ant-select-selection__placeholder {
    color: red;
}

.no-search-option-error>.ant-select-selection {
    border-color: red !important;
    border-right-width: 1px
}

.ant-input-group.ant-input-group-compact>.ant-select .no-search-option-error>.ant-select-selection:hover {
    border-color: none !important;
}

.no-search-option-error>.ant-select-selection .ant-select-arrow {
    color: red !important;
}

.section-title {
    min-width: 60px;
    display: inline-block;
    font-weight: 500;
    margin-top: 25px;
    margin-left: 45px;
}

.key-section {
    flex: 1;
}

.pdf-button-section {
    display: flex;
    flex-direction: row;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.size-font-16 {
    font-size: 16px;
}

/* Safari 4.0 - 8.0 */

@-webkit-keyframes copy-translation-animate {
    0% {
        background: #1890ff;
        left: -5px;
    }
    100% {
        background: #1890ff;
        left: 4px;
    }
}

@keyframes copy-translation-animate {
    0% {
        background: #1890ff;
        left: -5px;
    }
    100% {
        background: #1890ff;
        left: 4px;
    }
}

/* Safari 4.0 - 8.0 */

@-webkit-keyframes copy-modal-animate {
    0% {
        background: #1890ff;
        left: -5px;
    }
    100% {
        background: #1890ff;
        left: 4px;
    }
}

@keyframes copy-modal-animate {
    0% {
        background: #1890ff;
        top: 10px;
    }
    50% {
        background: #1890ff;
        top: 0px;
    }
    100% {
        background: #1890ff;
        top: -10px;
    }
}

.change-password {
    padding-top: 85px;
    width: 95%;
    margin: 0 auto;
}

.change-password-translator {
    padding-top: 30px;
}

.forgot-heading {
    margin-bottom: 0.3em;
    text-align: center;
}

.change-password-heading {
    /* text-align: center; */
    margin-bottom: 25px;
    font-weight: bold;
}

.forgot-username {
    margin-bottom: 5px !important;
}

.login .ant-form-item-label {
    text-align: left;
}

/** ----- Responsive layout -----  */

/* body {
    padding-top: 50px;
} */

.container {
    height: 100%;
}

.page-header {
    position: relative;
    padding: 20px 20px;
    background: #f4efff;
}

.page-header .lz-back-button {
    position: absolute;
    top: 20px;
    left: 20px;
}

.app-name-section .ant-tabs-bar {
    margin-top: 10px;
    border-bottom: none!important;
}

.no-search-input-error .ant-input-suffix {
    cursor: not-allowed;
}

.no-search-input-error .ant-btn {
    pointer-events: none;
    opacity: 0.5;
}

.search-panel {
    max-width: 980px;
    margin: auto;
}

.download-all {
    margin: 10px;
}

.images-preview-section {
    margin-top: 20px;
}

.content {
    padding: 20px;
}

.ant-radio-group.lz-application-list {
    margin-bottom: 15px;
}

.lz-application-list .ant-radio-button-wrapper {
    margin-bottom: 5px;
}

.lz-application-list .ant-radio-button-wrapper-checked {
    background: #1890ff;
    color: #FFF;
}

.lz-application-list .ant-radio-button-wrapper-checked:hover {
    color: #FFF;
}

.lz-translations-categories {
    background: #f9f9f9;
    border-radius: 4px;
    margin-bottom: 20px;
}

.lz-translations-categories .ant-tabs-bar {
    margin-bottom: 0;
}

:root .lz-translations-categories i.ant-tabs-tab-next-icon-target, :root .lz-translations-categories i.ant-tabs-tab-prev-icon-target {
    font-size: 15px;
}

.ant-alert-message {
    word-wrap: break-word;
}
/** ----- end responsive layout -----  */

.change-password-align-end{
    text-align: end;
}

.profile-align{
    width: 80% !important;
    margin: 0 auto !important;
}

.height-buffer{
    height: 60px !important;
}

.profile-card{
    max-width: 1000px;
}

@media screen and (max-width: 840px){
    .change-password{
        width: 98% !important;
    }
}

@media screen and (max-width: 768px){
    .profile-align{
        width: 98% !important;
    }
}

@media screen and (max-width: 576px){
    .profile-align{
        width: 100% !important;
    }
}

.sno-pos {
    display: flex!important;
    justify-content: center;
    flex-direction: column;
    height: 30px;
}