.a-account{
    padding-top: 50px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.a-account__form{
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 590px;
    height: auto;
    margin: 0;
    padding: 20px;
}

/* 
overriding css for antd form fields since validation icons are not in the right order activate account form 
*/
.a-account__form .has-feedback .ant-input-affix-wrapper .ant-input-suffix {
    padding-right: 18px;
}

.ant-input-affix-wrapper .ant-input-suffix {
    right: 12px;
}

