.ad-container {
  padding-top: 95px;
}

.ad-container__grid {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.ad-container__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 10px;
}

.ad-container__invite {
  margin-right: 5px;
}

.ad-container__row label {
  margin-left: 5px;
}

.ad-container__table {
  width: 100%;
}

/* 
overriding css for antd form label since labelAlign property not working on either of the mangage user, invite user or 
activate account form 
*/
.manageuserform .ant-form-item-label {
  text-align: left;
}

.inviteuserform .ant-form-item-label {
  text-align: left;
}

.a-account__form .ant-form-item-label {
  text-align: left;
}

.ad-container__row-disabled > td {
  font-style: italic;
  background-color: #f5f3f3;;
  color: #949494;
}

.ad-container__row-disabled a {
  color: #949494;
}

.ad-container__row-disabled:hover > td {
  color: #949494;
}

.ad-container__row-disabled:hover a {
  color: #949494;
}

/* css for usersliststate */

.ad-container__list-states {
  display: flex;
  align-items: center;
}
.ad-container__list-states .all .cnt {
  margin-left: 2px;
}
.ad-container__list-states .all .ant-radio {
  vertical-align: inherit;
}
.ad-container__list-states .all.ant-radio-wrapper-checked {
  color: #2690fc;
  font-weight: bold;
  transition: color 0.3s ease-in;
}
.ad-container__list-states .all .ant-radio-inner {
  width: 8px;
  height: 8px;
  border-color: #fff;
  background-color: #2690fc;
}
.ad-container__list-states .all .ant-radio-inner:after {
  display: none;
}
.ad-container__list-states
  .all.ant-radio-wrapper:hover
  .ant-radio
  .ant-radio-inner,
.ad-container__list-states .all .ant-radio:hover .ant-radio-inner,
.ad-container__list-states .all .ant-radio-focused .ant-radio-inner {
  border-color: #2690fc;
}
.ad-container__list-states .active .cnt {
  margin-left: 2px;
}
.ad-container__list-states .active .ant-radio {
  vertical-align: inherit;
}
.ad-container__list-states .active.ant-radio-wrapper-checked {
  color: #56c42a;
  font-weight: bold;
  transition: color 0.3s ease-in;
}
.ad-container__list-states .active .ant-radio-inner {
  width: 8px;
  height: 8px;
  border-color: #fff;
  background-color: #56c42a;
}
.ad-container__list-states .active .ant-radio-inner:after {
  display: none;
}
.ad-container__list-states
  .active.ant-radio-wrapper:hover
  .ant-radio
  .ant-radio-inner,
.ad-container__list-states .active .ant-radio:hover .ant-radio-inner,
.ad-container__list-states .active .ant-radio-focused .ant-radio-inner {
  border-color: #56c42a;
}
.ad-container__list-states .inactive .cnt {
  margin-left: 2px;
}
.ad-container__list-states .inactive .ant-radio {
  vertical-align: inherit;
}
.ad-container__list-states .inactive.ant-radio-wrapper-checked {
  color: #f31e34;
  font-weight: bold;
  transition: color 0.3s ease-in;
}
.ad-container__list-states .inactive .ant-radio-inner {
  width: 8px;
  height: 8px;
  border-color: #fff;
  background-color: #f31e34;
}
.ad-container__list-states .inactive .ant-radio-inner:after {
  display: none;
}
.ad-container__list-states
  .inactive.ant-radio-wrapper:hover
  .ant-radio
  .ant-radio-inner,
.ad-container__list-states .inactive .ant-radio:hover .ant-radio-inner,
.ad-container__list-states .inactive .ant-radio-focused .ant-radio-inner {
  border-color: #f31e34;
}
