.mg-container {
  padding-top: 95px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.mg-container__row {
  margin-left: 50px;
}

.mg-container__title {
  margin-bottom: 10px;
  font-size: 16px;
}

.mg-container__grid {
  margin: 10px 50px;
}

.mg-container__add {
  margin: 10px 50px;
  margin-bottom: 50px;
}

.mg-container__add button {
  float: right;
  width: 80px;
}

.mg-arrange__text {
  color: black;
  margin: 5px 0px;
  padding: 2px;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 0px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mg-arrange__green {
  background-color: #cbf5cb;
}

.mg-arrange__red {
  background-color: rgb(243, 159, 159);
}

.mg-arrange__sections-col .mg-arrange__groups-col {
  min-height: 500px;
  max-height: 500px;
  overflow: auto;
}

.mg-arrage__selectList {
  margin: 20px 0px;
}

.mg-arrage__section {
  height: 500px;
  max-height: 500px;
  overflow: auto;
}

.mg-arrange__sections-row .mg-arrange__groups-row {
  background: #f2f2f2;
}

.mg-arrange__sectiondroppable {
  height: 500px;
  max-height: 500px;
}

.mg-arrange__groupdroppable {
  height: 500px;
  max-height: 500px;
  overflow: hidden;
}

.mg-arrange__nodata {
  text-align: center;
}

.mg-arrange__sectionname,.mg-arrange__groupname
{
  display: inline-block;
  width: 135px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mg-arrange__sectionbadge {
  position: absolute;
  right: 15px;
}


/* css for tabs */

.ant-radio-group .mg-tab-list {
  margin-bottom: 15px;
}

.mg-tab-list .ant-radio-button-wrapper {
  margin-bottom: 5px;
}

.mg-tab-list .ant-radio-button-wrapper-checked {
  background: #1890ff;
  color: #fff;
}

.mg-tab-list .ant-radio-button-wrapper-checked:hover {
  color: #fff;
}

.addgroupform .ant-form-item-label {
  text-align: left;
}

.mg-manage__deletegroupform .ant-form-item-label {
  text-align: left;
}

.groupnamechangeform .ant-form-item-label {
  text-align: left;
}

/* css for scrolbar */
.mg-arrage__scrollbar {
  height: 500px;
  max-height: 500px;
  background: #f3f2f2;
}

/* css for context-menu */
.react-contextmenu {
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  color: #373a3c;
  font-size: 16px;
  margin: 2px 0 0;
  min-width: 160px;
  outline: none;
  opacity: 0;
  padding: 5px 0;
  pointer-events: none;
  text-align: left;
  transition: opacity 250ms ease !important;
}

.react-contextmenu.react-contextmenu--visible {
  opacity: 1;
  pointer-events: auto;
  z-index: 9999;
}

.react-contextmenu-item {
  background: 0 0;
  border: 0;
  color: #373a3c;
  cursor: pointer;
  font-weight: 400;
  line-height: 1.5;
  padding: 3px 20px;
  text-align: inherit;
  white-space: nowrap;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
  color: #fff;
  background-color: #20a0ff;
  border-color: #20a0ff;
  text-decoration: none;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.15);
  color: #878a8c;
}

.react-contextmenu-item--divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  cursor: inherit;
  margin-bottom: 3px;
  padding: 2px 0;
}
.react-contextmenu-item--divider:hover {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.15);
}

.react-contextmenu-item.react-contextmenu-submenu {
  padding: 0;
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item {
}

.react-contextmenu-item.react-contextmenu-submenu
  > .react-contextmenu-item:after {
  content: "▶";
  display: inline-block;
  position: absolute;
  right: 7px;
}

.example-multiple-targets::after {
  content: attr(data-count);
  display: block;
}

.mg-arrange__submenu {
  max-height: 200px;
}
